{% extends "mysite/base.html" %}
{% load static %}
{% block resume %}
<section class="resume" id="resume" style="background-color: #121314;">
        <div class="section-title">
            <div class="row mx-auto">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h2>My Experience</h2>
                    </div>
                </div>
            </div>
        </div>
    <div class="container section-content flex-grow-1">
        <div class="row mt-4">
            <div class="col-lg-6">
                <h3 class="mb-4">Education</h3>
                <ul class="list-inline">
                    <li>
                        <h4 class="mb-2">DIPLOMA IN ELECTRONICS AND COMMUICATION ENGINEERING</h4>
                        <span class="time">KMCT PTC 2015-2018</span>
                        <p class="my-2">
                            Kozhikode
                        </p>
                    </li>
                    <li>
                        <h4 class="mb-2">HIGHER SECONDARY EDUCATION</h4>
                        <span class="time">GVHS SCHOOL 2012-2014</span>
                        <p class="my-2">
                            Nayarkuzhi
                            Commerce
                    </li>
                    <li>
                        <h4 class="mb-2">SSLC</h4>
                        <span class="time">SHHS SCHOOL 2012</span>
                        <p class="my-2">
                            Thiruvampady
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">

                <h3 class="mb-4">Acadamic Projects</h3>
                <ul class="list-inline">
                    <li>
                        <h4 class="mb-2">Automted Fluid Control Device</h4>
                        <span class="time"></span>
                        <p class="my-2">
                          An atuomatic fluid control system using android and aurdino development board for medical application
                        </p>
                    </li>
                    <li>
                        <h4 class="mb-2">E-commerce App</h4>
                        <span class="time"></span>
                        <p class="my-2">
                          E-commerce website  with Python and Django framework
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                <div class="skill-progress flex-grow-1">
                     <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                        <span>HTML 5</span>
                        <span class="text-right progress-percent">90%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-percent="90" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                <div class="skill-progress flex-grow-1">
                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                        <span> CSS 3</span>
                        <span class="text-right progress-percent">85%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-percent="85" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                <div class="skill-progress flex-grow-1">
                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                        <span>Bootstrap</span>
                        <span class="text-right progress-percent">75%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-percent="75" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                <div class="skill-progress flex-grow-1">
                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                        <span>JavaScript</span>
                        <span class="text-right progress-percent">50%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-percent="50" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                <div class="skill-progress flex-grow-1">
                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                        <span>Python</span>
                        <span class="text-right progress-percent">95%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-percent="95" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                <div class="skill-progress flex-grow-1">
                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                        <span>Django</span>
                        <span class="text-right progress-percent">60%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-percent="60" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>


{% endblock %}